@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-theme-color: #6893B8 !important;
}

body {
  background-color: #F8F8F8;
  color: #FFACC0;
  text-shadow:
    -1px 1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000;
  -webkit-tap-highlight-color: transparent;
}

.text-shadow {
  text-shadow:
    -1px 1px 1px #000,
    1px -1px 1px #000,
    -1px -1px 1px #000,
    1px 1px 1px #000;
}

.text-thin-shadow {
  text-shadow:
    -1px 1px 1px #000,
    0px -1px 1px #000,
    1px 0px 1px #000,
    0px 1px 1px #000
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-pagination {
  bottom: 1em !important;
}